@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class='light_theme'>
    <!-- Main home slider begin -->
    <article class='home-slider'>
        <div class='flexslider'>
            <ul class='slides'>
                <li class='item'>
                    <img alt='' src='/App_Themes/Plenius/images/home_banner.jpg' />
                    <div class='home-slider-content'>
                        <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
                    </div>
                </li>
                <li class='item'>
                    <img alt='' src='/App_Themes/Plenius/images/home_banner_1.jpg' />
                    <div class='home-slider-content'>
                        <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
                    </div>
                </li>
                <li class='item'>
                    <img alt='' src='/App_Themes/Plenius/images/home_banner_2.jpg' />
                    <div class='home-slider-content'>
                        <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
                    </div>
                </li>
                <li class='item'>
                    <img alt='' src='/App_Themes/Plenius/images/home_banner_3.jpg' />
                    <div class='home-slider-content'>
                        <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
                    </div>
                </li>
                <li class='item'>
                    <img alt='' src='/App_Themes/Plenius/images/home_banner.jpg' />
                    <div class='home-slider-content'>
                        <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    <!-- Main home slider end -->
    <hr />
    <!-- Fresh news begin -->
    <article class='fresh-news row-fluid'>
        <section class='news span4'>
            <div class='for-img'>
                <img alt='' class='color_img' src='/App_Themes/Plenius/images/yellow/announcement.png' />
            </div>
            <div class='for-text'>
                <h2>
                    <a href='#'>Announcement</a>
                </h2>
                <p class='last'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has</p>
            </div>
        </section>
        <section class='news span4'>
            <div class='for-img'>
                <img alt='' class='color_img' src='/App_Themes/Plenius/images/yellow/socialnetwork.png' />
            </div>
            <div class='for-text'>
                <h2>
                    <a href='#'>Social Networks</a>
                </h2>
                <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
            </div>
        </section>
        <section class='news span4'>
            <div class='for-img'>
                <img alt='' class='color_img' src='/App_Themes/Plenius/images/yellow/freshideas.png' />
            </div>
            <div class='for-text'>
                <h2>
                    <a href='#'>Fresh Ideas</a>
                </h2>
                <p class='last'>Publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will.</p>
            </div>
        </section>
    </article>
    <!-- Fresh news end -->
    <hr class='notop' />
    <!-- Recent project information begin -->
    <article class='recent-projects'>
        <h2>Recent Projects</h2>
        <section class='recent-projects-info sl-info'>
            <p>English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still</p>
            <p>
                <a class='btn' href='portfolio-3.html'>View more projects</a>
            </p>
        </section>
        <div class='flexslider'>
            <ul class='slides'>
                <li>
                    <div class='item'>
                        <div class='item-image'>
                            <img alt='' src='/App_Themes/Plenius/images/home_pic_1.jpg' />
                        </div>
                        <div class='overlay'></div>
                        <div class='item-description'>
                            <h3>Popular belief contrary</h3>
                            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
                        </div>
                        <a class='start picture' data-rel='prettyPhoto' href='/App_Themes/Plenius/images/home_pic_1.jpg'></a>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <div class='item-image'>
                            <img alt='' src='/App_Themes/Plenius/images/home_pic_2.jpg' />
                        </div>
                        <div class='overlay'></div>
                        <div class='item-description'>
                            <h3>Popular belief contrary</h3>
                            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
                        </div>
                        <a class='start video' data-rel='prettyPhoto' href='http://vimeo.com/8245346'></a>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <div class='item-image'>
                            <img alt='' src='/App_Themes/Plenius/images/home_pic_3.jpg' />
                        </div>
                        <div class='overlay'></div>
                        <div class='item-description'>
                            <h3>Popular belief contrary</h3>
                            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
                        </div>
                        <a class='start picture' data-rel='prettyPhoto' href='/App_Themes/Plenius/images/home_pic_3.jpg'></a>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <div class='item-image'>
                            <img alt='' src='/App_Themes/Plenius/images/home_pic_1.jpg' />
                        </div>
                        <div class='overlay'></div>
                        <div class='item-description'>
                            <h3>Popular belief contrary</h3>
                            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
                        </div>
                        <a class='start picture' data-rel='prettyPhoto' href='/App_Themes/Plenius/images/home_pic_1.jpg'></a>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <div class='item-image'>
                            <img alt='' src='/App_Themes/Plenius/images/home_pic_2.jpg' />
                        </div>
                        <div class='overlay'></div>
                        <div class='item-description'>
                            <h3>Popular belief contrary</h3>
                            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
                        </div>
                        <a class='start video' data-rel='prettyPhoto' href='http://vimeo.com/8245346'></a>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <div class='item-image'>
                            <img alt='' src='/App_Themes/Plenius/images/home_pic_3.jpg' />
                        </div>
                        <div class='overlay'></div>
                        <div class='item-description'>
                            <h3>Popular belief contrary</h3>
                            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
                        </div>
                        <a class='start video' data-rel='prettyPhoto' href='http://vimeo.com/8245346'></a>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <div class='item-image'>
                            <img alt='' src='/App_Themes/Plenius/images/home_pic_1.jpg' />
                        </div>
                        <div class='overlay'></div>
                        <div class='item-description'>
                            <h3>Popular belief contrary</h3>
                            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
                        </div>
                        <a class='start video' data-rel='prettyPhoto' href='http://vimeo.com/8245346'></a>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <div class='item-image'>
                            <img alt='' src='/App_Themes/Plenius/images/home_pic_2.jpg' />
                        </div>
                        <div class='overlay'></div>
                        <div class='item-description'>
                            <h3>Popular belief contrary</h3>
                            <p class='last'>Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.</p>
                        </div>
                        <a class='start video' data-rel='prettyPhoto' href='http://vimeo.com/8245346'></a>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    <!-- Recent project information end -->
    <hr />
    <article class='blog-posts'>
        <h2>Blog Posts</h2>
        <section class='blog-posts-info sl-info'>
            <p>English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many</p>
            <p>
                <a class='btn' href='blog.html'>View more posts</a>
            </p>
        </section>
        <div class='flexslider'>
            <ul class='slides'>
                <li>
                    <div class='item'>
                        <h3>
                            <a href='#'>Contrary to popular belief</a>
                        </h3>
                        <p class='postmetadata'>
                            <i>03 April 2012&nbsp;&nbsp;5 Comments</i>
                        </p>
                        <p class='last'>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem</p>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <h3>
                            <a href='#'>Latin literature from 45 BC</a>
                        </h3>
                        <p class='postmetadata'>
                            <i>12 may 2012&nbsp;&nbsp;8 Comments</i>
                        </p>
                        <p class='last'>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <h3>
                            <a href='#'>Sydney College in Virginia</a>
                        </h3>
                        <p class='postmetadata'>
                            <i>25 June 2012&nbsp;&nbsp;10 Comments</i>
                        </p>
                        <p class='last'>Suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the</p>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <h3>
                            <a href='#'>Contrary to popular belief</a>
                        </h3>
                        <p class='postmetadata'>
                            <i>03 April 2012&nbsp;&nbsp;5 Comments</i>
                        </p>
                        <p class='last'>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem</p>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <h3>
                            <a href='#'>Latin literature from 45 BC</a>
                        </h3>
                        <p class='postmetadata'>
                            <i>12 may 2012&nbsp;&nbsp;8 Comments</i>
                        </p>
                        <p class='last'>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</p>
                    </div>
                </li>
                <li>
                    <div class='item'>
                        <h3>
                            <a href='#'>Sydney College in Virginia</a>
                        </h3>
                        <p class='postmetadata'>
                            <i>25 June 2012&nbsp;&nbsp;10 Comments</i>
                        </p>
                        <p class='last'>Suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the</p>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    <hr class='notop' />
    <!-- Block clients logo begin here -->
    <div class='clients'>
        <h2>Our Clients</h2>
        <div class='flexslider'>
            <ul class='slides'>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-1.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-2.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-3.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-4.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-5.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-6.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-3.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-2.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-1.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-4.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-6.png' />
                </li>
                <li>
                    <img alt='' src='/App_Themes/Plenius/images/client-5.png' />
                </li>
            </ul>
        </div>
    </div>
    <!-- Block clients logo end here -->
    <hr class='line-25 noline' />
</div>
