/* line 13, ../../../sass/color_style/blue_items.css.scss */
.price-table .column.active .title {
  background-color: #4993e3;
}
/* line 16, ../../../sass/color_style/blue_items.css.scss */
.price-table .column.active .price {
  background-color: #4386cf;
}
/* line 20, ../../../sass/color_style/blue_items.css.scss */
.price-table .column.active .confirm .btn {
  -webkit-box-shadow: inset 0 1px 0 #6ca0d9, 0 2px 2px rgba(50, 50, 50, 0.05);
  -moz-box-shadow: inset 0 1px 0 #6ca0d9, 0 2px 2px rgba(50, 50, 50, 0.05);
  box-shadow: inset 0 1px 0 #6ca0d9, 0 2px 2px rgba(50, 50, 50, 0.05);
  background-color: #4386cf;
}
/* line 23, ../../../sass/color_style/blue_items.css.scss */
.price-table .column.active .confirm .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 #6ca0d9, 0 2px 2px rgba(50, 50, 50, 0.05);
  -moz-box-shadow: inset 0 1px 0 #6ca0d9, 0 2px 2px rgba(50, 50, 50, 0.05);
  box-shadow: inset 0 1px 0 #6ca0d9, 0 2px 2px rgba(50, 50, 50, 0.05);
  background-color: #4f8ed2;
}
/* line 27, ../../../sass/color_style/blue_items.css.scss */
.price-table .column.active .confirm .btn.active, .price-table .column.active .confirm .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(50, 50, 50, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(50, 50, 50, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(50, 50, 50, 0.05);
  background-color: #4386cf;
}

/* line 40, ../../../sass/color_style/blue_items.css.scss */
.color-5 {
  color: #4386cf;
}

/* line 45, ../../../sass/color_style/blue_items.css.scss */
hr.color-5 {
  border-bottom: 1px solid #4386cf;
}

/* line 49, ../../../sass/color_style/blue_items.css.scss */
a {
  color: #4386cf;
}

/* line 52, ../../../sass/color_style/blue_items.css.scss */
a:hover {
  color: #4386cf;
}

/* line 56, ../../../sass/color_style/blue_items.css.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #4386cf;
}

/* line 62, ../../../sass/color_style/blue_items.css.scss */
.content .light_theme h1 a:hover, .content .light_theme h2 a:hover, .content .light_theme h3 a:hover, .content .light_theme h4 a:hover, .content .light_theme h5 a:hover, .content .light_theme h6 a:hover {
  color: #4386cf;
}

/* line 71, ../../../sass/color_style/blue_items.css.scss */
.main-menu .first-level > li:hover > a {
  color: #4386cf;
  border-bottom: 1px solid #4386cf;
}
/* line 77, ../../../sass/color_style/blue_items.css.scss */
.main-menu .second-level > li > a:hover {
  color: #4386cf;
}

/* line 85, ../../../sass/color_style/blue_items.css.scss */
.description-404 span {
  color: #4386cf;
}

/* line 92, ../../../sass/color_style/blue_items.css.scss */
.breadcrumbs a:hover {
  color: #4386cf;
}

/* line 101, ../../../sass/color_style/blue_items.css.scss */
.home-slider .flex-viewport .item .home-slider-content {
  border-left: 1px solid #4386cf;
}
/* line 108, ../../../sass/color_style/blue_items.css.scss */
.home-slider .flex-control-nav a:hover, .home-slider .flex-control-nav a.flex-active {
  background-color: #4386cf;
}

/* line 117, ../../../sass/color_style/blue_items.css.scss */
.flexslider .flex-direction-nav a.flex-prev:hover {
  background-color: #4386cf;
}
/* line 121, ../../../sass/color_style/blue_items.css.scss */
.flexslider .flex-direction-nav a.flex-next:hover {
  background-color: #4386cf;
}

/* line 131, ../../../sass/color_style/blue_items.css.scss */
.fresh-news .news:hover, .fresh-news .news.active {
  border-bottom: 1px solid #4386cf;
}

/* line 140, ../../../sass/color_style/blue_items.css.scss */
.blog-posts .flexslider .slides .item:hover, .blog-posts .flexslider .slides .item.active {
  border-bottom: 1px solid #4386cf;
}

/* line 153, ../../../sass/color_style/blue_items.css.scss */
.quotes .flexslider li .autor span {
  color: #4386cf;
}

/* line 162, ../../../sass/color_style/blue_items.css.scss */
.overlay {
  background: #4386cf;
}

/* line 167, ../../../sass/color_style/blue_items.css.scss */
.post .post-media .overlay {
  background: #4386cf;
}

/* line 176, ../../../sass/color_style/blue_items.css.scss */
.portfolio.c-4 .portfolio-items .item .overlay {
  background: #4386cf;
}
/* line 185, ../../../sass/color_style/blue_items.css.scss */
.portfolio.c-3 .portfolio-items .item .overlay {
  background: #4386cf;
}
/* line 194, ../../../sass/color_style/blue_items.css.scss */
.portfolio.c-2 .portfolio-items .item .overlay {
  background: #4386cf;
}

/* line 205, ../../../sass/color_style/blue_items.css.scss */
.about-team .flexslider .slides .item .overlay, .recent-projects .flexslider .slides .item .overlay, .blog-posts .flexslider .slides .item .overlay {
  background: #4386cf;
}

/* line 214, ../../../sass/color_style/blue_items.css.scss */
.list_1 li {
  background: url("../../images/blue/list_1.png") 0 6px no-repeat;
  padding: 0 0 0 13px;
}

/* line 218, ../../../sass/color_style/blue_items.css.scss */
.list_2 li {
  background: url("../../images/blue/list_2.png") 0 4px no-repeat;
  padding: 0 0 0 20px;
}

/* line 222, ../../../sass/color_style/blue_items.css.scss */
.list_3 li {
  background: url("../../images/blue/list_3.png") 0 7px no-repeat;
  padding: 0 0 0 12px;
}

/* line 226, ../../../sass/color_style/blue_items.css.scss */
.list_4 li {
  background: url("../../images/blue/list_4.png") 0 6px no-repeat;
  padding: 0 0 0 15px;
}

/* line 230, ../../../sass/color_style/blue_items.css.scss */
.list_5 li {
  background: url("../../images/blue/list_5.png") 0 3px no-repeat;
  padding: 0 0 0 20px;
}

/* line 234, ../../../sass/color_style/blue_items.css.scss */
.list_6 li {
  background: url("../../images/blue/list_6.png") 0 7px no-repeat;
  padding: 0 0 0 20px;
}

/* line 243, ../../../sass/color_style/blue_items.css.scss */
.content .sidebar-left .categories ul li a:hover, .content .sidebar-left .archive ul li a:hover {
  background: url(../../images/blue/list_7h.png) no-repeat 7px 13px;
  -webkit-transition: background-position 0.2s, padding-left 0.2s, color 0.2s;
  -moz-transition: background-position 0.2s, padding-left 0.2s, color 0.2s;
  -o-transition: background-position 0.2s, padding-left 0.2s, color 0.2s;
  transition: background-position 0.2s, padding-left 0.2s, color 0.2s;
}

/* line 254, ../../../sass/color_style/blue_items.css.scss */
.portfolio .portfolio-navigation a.active, .portfolio .portfolio-navigation a:hover, .content .light_theme .portfolio .portfolio-navigation a.active, .content .light_theme .portfolio .portfolio-navigation a:hover {
  color: #4386cf;
  text-decoration: none;
}
/* line 260, ../../../sass/color_style/blue_items.css.scss */
.portfolio .more.active, .portfolio .more:hover, .content .light_theme .portfolio .more.active, .content .light_theme .portfolio .more:hover {
  color: #4386cf;
  text-decoration: none;
}

/* line 271, ../../../sass/color_style/blue_items.css.scss */
.post .post-metadata a:hover, .post .post-metadata a .active {
  color: #4386cf;
}
/* line 276, ../../../sass/color_style/blue_items.css.scss */
.post blockquote {
  border-left: 1px solid #4386cf;
}

/* line 283, ../../../sass/color_style/blue_items.css.scss */
.sidebar-left .categories ul li a:hover, .sidebar-left .archive ul li a:hover, .sidebar-left .recent-posts ul li a:hover, .content .light_theme .sidebar-left .categories ul li a:hover, .content .light_theme .sidebar-left .archive ul li a:hover, .content .light_theme .sidebar-left .recent-posts ul li a:hover {
  color: #4386cf;
}

/* line 291, ../../../sass/color_style/blue_items.css.scss */
.content .light_theme .sidebar-left .tag-cloud .tags li a:hover, .content .light_theme .sidebar-left .tag-cloud .tags li a.active, .content .light_theme .page-navigation a:hover, .content .light_theme .page-navigation a.active {
  color: #4386cf;
}

/* line 305, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer h2 a:hover {
  color: #4386cf;
}
/* line 311, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .social-tooltip {
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  display: inline;
  float: left;
  display: block;
  height: 25px;
  width: 24px;
  margin-right: 2px;
  text-indent: -1000px;
  text-decoration: none;
  background-repeat: no-repeat;
}
/* line 322, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .tweeter {
  background-image: url(../../images/tweeter.png);
}
/* line 324, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .tweeter:hover {
  background: url(../../images/blue/tweeter_h.png);
}
/* line 328, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .facebook {
  background-image: url(../../images/facebook.png);
}
/* line 330, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .facebook:hover {
  background: url(../../images/blue/facebook_h.png);
}
/* line 334, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .vimeo {
  background-image: url(../../images/vimeo.png);
}
/* line 336, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .vimeo:hover {
  background: url(../../images/blue/vimeo_h.png);
}
/* line 340, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .linkedin {
  background-image: url(../../images/linkedin.png);
}
/* line 342, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .linkedin:hover {
  background: url(../../images/blue/linkedin_h.png);
}
/* line 346, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .flickr {
  background-image: url(../../images/flickr.png);
}
/* line 348, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-1 .social .flickr:hover {
  background: url(../../images/blue/flickr_h.png);
}
/* line 358, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .widget-2 ul li a.active, html body .footer_texture .inner footer .widget-2 ul li a:hover {
  color: #4386cf;
  background: url(../../images/blue/list_7h.png) no-repeat 8px 12px;
}
/* line 371, ../../../sass/color_style/blue_items.css.scss */
html body .footer_texture .inner footer .copyrights-box .foot-menu ul li a:hover {
  color: #4386cf;
}
