.buttons {
	section {	
		overflow: hidden;
		padding: 0px;
		&.last{
		  a{
		  	margin-bottom: 0px;
		  }
		}
		a{
			margin-right:8px;
			margin-bottom: 20px;
		}
	}
}
.style-boxes{
	.style-box{
		margin-bottom:12px;
		&.last{
			margin-bottom:0px;
		}
	}
}
article.lists{
	margin-bottom: 40px
}